body {
background-image: url('back2.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}

  body {
    background-color: lightblue;
  }
  
p {
  color: black;
  font-size: 20px;
  font-family: "Times New Roman";
  margin-left: -30%;

}

h1 {
  color: #454444;
  font-family: "Times New Roman";
  margin-left: 42%;

}


.styled1 {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  margin-left:-5%;
  text-align: center;
  color:#5420e3;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #d4bebe;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px #e32020,
              inset -2px -2px 3px #5420e3;
}

.styled:hover {
  background-color: #915656;
}

.styled:active {
  box-shadow: inset -2px -2px 3px #e32020,
              inset 2px 2px 3px #5420e3;
}



.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color:#5420e3;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #d4bebe;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px #e32020,
              inset -2px -2px 3px #5420e3;
}

.styled:hover {
  background-color: #915656;
}

.styled:active {
  box-shadow: inset -2px -2px 3px #e32020,
              inset 2px 2px 3px #5420e3;
}


table {
  margin-bottom: 2%;
  margin-left: 17%;
  margin-right: 10%;

}


img {
  margin-left: 40%;
  margin-right: 10%;
}
