.unselectable {
       -webkit-user-select: none;
       -webkit-touch-callout: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       color: #cc0000;
}

.btn-group {
  margin-left:200px;
  margin-right:200px;
  margin-top:20px;
}

body {
background-image: url('back2.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
background-color:lightblue;
}

p {
  color: #d4ff5e;
  font-size: 20px;
  font-family: "Times New Roman";
  margin-left: 25%;

}

h1 {
  color: #568fe3;
  font-family: "Times New Roman";
  margin-left: 42%;

}

.btn-group button {
 border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  margin-left:2%;
  text-align: center;
  color:lightblue;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color:grey;
  box-shadow: inset 2px 2px 3px black,
              inset -2px -2px 3px black;
}

/* Add a background color on hover */
.btn-group button:hover {
 background-color: green;
  border:none;
  color:yellow;
  box-shadow: inset 2px 2px 3px yellow,
              inset -2px -2px 3px yellow;
}

.btn-group button:active {
   color:red;
  box-shadow: inset -2px -2px 3px red,
              inset 2px 2px 3px red;
}

.btn-group button:focus {
   outline:none;
}

.btn-group2 button {
 border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  margin-left:37%;
  text-align: center;
  color:lightblue;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color:grey;
  box-shadow: inset 2px 2px 3px black,
              inset -2px -2px 3px black;
}

/* Add a background color on hover */
.btn-group2 button:hover {
 background-color: green;
  border:none;
  color:yellow;
  box-shadow: inset 2px 2px 3px yellow,
              inset -2px -2px 3px yellow;
}

.btn-group2 button:active {
   color:red;
  box-shadow: inset -2px -2px 3px red,
              inset 2px 2px 3px red;
}

.btn-group2 button:focus {
   outline:none;
}


table {
  margin-bottom: 2%;
  margin-left: 17%;
  margin-right: 10%;

}


img {
  margin-top: 8%;
  margin-left: 40%;
  margin-right: 10%;

}



/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .tbl {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
